@media screen and (max-width: 768px) {

    * {
        font-size: 8px;
    }

    .logo,
    .main-logo span i,
    #nav-wrapper label i {
        font-size: 1.75rem;
    }
    
    #nav-wrapper {
        height: 38px;
    }

    /*  */
    /* FOOTER */
    /*  */
    #footer-wrapper .container div.footer-dropdown .location {
        width: 100%;
    }

    #footer-wrapper .container div.footer-dropdown .location a {
        width: 44%;
    }

    #footer-wrapper .container div.contact {
        width: 50%;
    }

    #footer-wrapper .container div.footer-dropdown {
        width: 80%;
    }

    #footer-wrapper .container div.contact div div {
        width: 100%;
        text-align: center;
    }

    #footer-wrapper .container div.contact div div i {
        display: block;
    }

    #footer-follow-us {
        width: 20%;
    }

    /*  */
    /* ABOUT US PAGE */
    /*  */
    #our-team .owners p {
        float: none;
        display: block;
        width: 100%;
    }

    #our-team .photo {
        float: none;
        display: block;
        width: 100%;
        height: 33%;
    }

    #our-team .team .person .photo {
        float: none;
        display: block;
        width: 50%;
        margin: 0 auto;
        height: 33%;
    }

    .team .person .heading-2, .team .person .heading-3, .team .person .p-2 {
        display: block;
        width: 100%;
    }

    /*  */
    /* EVENTS PAGE */
    /*  */
    #events-wrapper .events div:first-child {
        float: none;
        display: block;
        width: 100%;
    }

    #events-wrapper .photo {
        width: 80%;
    }

    #events-wrapper .events div:last-child {
        float: none;
        display: block;
        width: 100%;
    }

    #events-wrapper .events div .heading-3,
    #events-wrapper .events div .p-2 {
        text-align: center;
        padding: 20px;
        margin: 0;
    }

    /*  */
    /* CONTACT US PAGE */
    /*  */
    .form-wrapper .form fieldset ul li:nth-child(1),
    .form-wrapper .form fieldset ul li:nth-child(2),
    .form .select {
        display: block;
        width: 100%;
        margin: 0;
    }
    
    .form .select,
    .form select,
    .form select option,
    .form fieldset ul li label,
    .form fieldset ul li input,
    .form textarea {
        text-align: left;
        font-size: 1.5rem;
    }

    .form .select label {
        padding: 5px 0;
        font-size: 1.5rem;
    }

    .form-wrapper .form fieldset ul li:last-child {
        width: 100%;
    }

}

@media screen and (max-height: 768px) and (max-width: 768px) {

    * {
        font-size: 8px;
    }

    /*  */
    /* ABOUT US PAGE */
    /*  */
    #about-wrapper, #events-main-wrapper, #game-collection-main-wrapper, #contact-main-wrapper {
        height: 100vh;
    }

    #our-team .photo {
        height: 45%;
    }

    /*  */
    /* EVENTS PAGE */
    /*  */
    #events-wrapper .photo {
        height: 50vh;
    }

}

@media screen and (max-height: 600px) and (max-width: 768px) {

    * {
        font-size: 8px;
    }

    /*  */
    /* ABOUT US PAGE */
    /*  */
    #our-team .photo {
        height: 45%;
    }

    #our-team .team .person {
        height: auto;
    }

    #our-team .person:nth-child(odd) .photo {
        float: left;
        width: 42.5%;
        height: 32.5%;
    }

    #our-team .person:nth-child(even) .photo {
        float: right;
        width: 42.5%;
        height: 32.5%;
    }

    .team .person .heading-2,
    .team .person .heading-3,
    .team .person .p-2 {
        display: inline-block;
        width: 55%;
        margin: 0;
        padding: 15px;
    }

}

@media screen and (max-height: 450px) and (max-width: 768px) {

    * {
        font-size: 8px;
    }

    /*  */
    /* ABOUT US PAGE */
    /*  */
    #about-wrapper, #events-main-wrapper, #game-collection-main-wrapper, #contact-main-wrapper {
        height: 120vh;
    }

    #our-team .photo {
        height: 55%;
    }

    #our-team .person:nth-child(odd) .photo {
        float: left;
        width: 42.5%;
        height: 40%;
    }

    #our-team .person:nth-child(even) .photo {
        float: right;
        width: 42.5%;
        height: 40%;
    }

    /*  */
    /* EVENTS PAGE */
    /*  */
    #events-wrapper .photo {
        height: 60vh;
    }

}

@media screen and (max-width: 500px) {

    #our-team .team .person {
        height: 50vh;
    }

    .team .person div {
        height: 45vh;
        width: 100%;
        margin: 0;
    }

    #our-team .person:nth-child(odd) .photo {
        float: left;
        width: 50%;
        height: 100%;
    }

    #our-team .person:nth-child(even) .photo {
        float: right;
        width: 50%;
        height: 100%;
    }

    .team .person .heading-2,
    .team .person .heading-3,
    .team .person .p-2 {
        display: inline-block;
        width: 50%;
        margin: 0;
        padding: 15px;
    }

}