header {
	position: static;
}

/*  */
/* About Page */
/*  */
#about-wrapper .photo,
#events-main-wrapper .photo,
#game-collection-main-wrapper .photo,
#contact-main-wrapper .photo {
	margin: 50px auto;
	width: 75%;
	padding: 0;
}

.owners {
	margin: 0 25px 50px;
	border-radius: 10px;
	box-shadow: var(--shadow);
}

.owners .photo {
	width: 50%;
	padding: 0;
}

.owners .flex-item {
	margin: 20px;
}

.team > div {
	margin-bottom: 50px;
}

.person {
	margin: 0 20px;
}

.person .p-2 {
	margin: 20px;
}

.person .flex-column > .flex-column:first-child {
	height: 300px;
	width: 75%;
	margin: 20px 20px 0;
}

.person .flex-column > .flex-column:last-child {
	margin: 0 20px 20px;
}

.person .photo {
	border-radius: 50%;
}

.person.flex-item {
	background-color: var(--color-dark);
	color: var(--color-heading);
	border-radius: 10px;
	border: 1px solid var(--color-border);
	box-shadow: var(--shadow);
}

/* Testimonials Section */
#testimonials-wrapper .flex-row {
	margin-bottom: 50px;
}

#testimonials-wrapper .flex-row .flex-row {
	margin: 20px;
	border-radius: 10px;
	box-shadow: var(--shadow);
	position: relative;
}

#testimonials-wrapper .flex-row .flex-row div:last-child {
	flex: 3;
}

#testimonials-wrapper .flex-row .flex-row div {
	margin: 20px;
}

#testimonials-wrapper .photo {
	padding: 0;
	border-radius: 50%;
	box-shadow: none;
}

#testimonials-wrapper i {
	position: absolute;
	top: -10%;
	left: 30%;
	font-size: 3rem;
	color: var(--color-emphasis);
}

/*  */
/* Events Page */
/*  */
#events-wrapper .flex-row {
	margin-bottom: 50px;
}

#events-wrapper .flex-row .flex-row {
	margin: 20px;
	border-radius: 10px;
	box-shadow: var(--shadow);
}

#events-wrapper .flex-row .flex-row div:last-child {
	flex: 3;
}

#events-wrapper .flex-row .flex-row div {
	margin: 20px;
}

#events-wrapper .photo {
	padding: 0;
	border-radius: 50%;
	box-shadow: none;
	border: none;
}

/*  */
/* Game Collection Page */
/*  */
#game-collection-wrapper .container div ul li {
	font-size: 1.75rem;
}

#game-collection-wrapper .container .games div {
	position: relative;
}

#game-collection-wrapper .container .games div > ul {
	width: 100%;
	columns: auto 3;
	column-gap: 10%;
	column-fill: balance;
	margin: 40px 0;
	padding: 40px 20px;
	border-top: 5px double var(--color-border);
}

#game-collection-wrapper .container .games div div:last-child {
	position: absolute;
	top: 4%;
	left: 0;
	width: 100%;
}

#game-collection-wrapper .letter {
	font-family: var(--font-heading);
	font-size: 4rem;
	line-height: 1em;
	display: block;
	text-align: center;
	width: 50px;
	margin: auto;
	padding: 10px 0;
	border: 1px solid var(--color-dark);
	border-radius: 10px;
	background-color: var(--color-dark);
	color: var(--color-heading);
	box-shadow: var(--shadow);
}

#game-collection-wrapper .games {
	margin-bottom: 50px;
}

/*  */
/* Contact Page */
/*  */
.form-wrapper {
	margin-bottom: 50px;
	border-radius: 10px;
	box-shadow: var(--shadow);
}

.form-wrapper .flex-item {
	margin: 20px;
}

#contact-wrapper .form .select {
	margin-top: 20px;
}

#contact-wrapper .form fieldset ul li:nth-child(3),
#contact-wrapper .form fieldset ul li:nth-child(4) {
	display: block;
	width: 100%;
}

#contact-wrapper .form textarea {
	text-align: center;
	width: 100%;
	padding: 5px;
	margin: 5px 0;
	font-size: 1.4rem;
	resize: none;
	border: 1px solid var(--color-border);
	border-radius: 10px;
	transition: all 0.4s ease-in-out;
}

#contact-wrapper .form label {
	text-transform: uppercase;
	display: inline-block;
	padding: 5px 10px;
	font-size: 1.3rem;
	margin-top: 5px;
	color: var(--color-dark);
	font-family: var(--font-heading);
	letter-spacing: 2px;
}

#contact-wrapper .form fieldset ul li:last-child .btn-dark {
	display: block;
	margin: 20px auto;
}

/*  */
/* Media Queries */
/*  */
@media screen and (max-width: 1000px) {
	/*  */
	/* Contact Page */
	/*  */
	#contact-wrapper .form-wrapper {
		flex-direction: column;
	}

	.form-wrapper .flex-item:last-child {
		width: 95%;
	}

	.form-wrapper .flex-item:last-child {
		margin: 20px 0;
	}
}

@media screen and (max-width: 768px) {
	/*  */
	/* About Page */
	/*  */
	#about-wrapper .photo,
	#events-main-wrapper .photo,
	#game-collection-main-wrapper .photo,
	#contact-main-wrapper .photo {
		margin: 50px auto;
		width: 90%;
		padding: 0;
	}

	#our-team .owners {
		flex-direction: column;
	}

	.owners .photo {
		width: 90%;
	}

	#our-team .team > div {
		flex-direction: column;
	}

	#our-team .team .person > div {
		flex-direction: row;
		align-items: stretch;
	}

	#our-team .team .person:last-child > div {
		flex-direction: row-reverse;
	}

	.person .flex-column > .flex-column:first-child {
		flex: 3;
		margin: 20px;
	}

	.person .flex-column > .flex-column:last-child {
		flex: 2;
		margin: 20px 20px 20px 0;
	}

	#our-team .team .person:last-child > div:last-child .flex-column:last-child {
		margin: 20px 0 20px 20px;
	}

	.person:nth-child(1) {
		margin-bottom: 20px;
	}

	.team > div:first-child {
		margin-bottom: 20px;
	}

	#testimonials-wrapper .flex-row .flex-row div:last-child {
		flex: 1;
	}

	#testimonials-wrapper i {
		left: 50%;
	}

	/*  */
	/* Events Page */
	/*  */
	#events-wrapper .flex-row .flex-row div:last-child {
		flex: 1;
	}
}

@media screen and (max-width: 600px) {
	/*  */
	/* About Us Page */
	/*  */
	.owners .photo {
		width: 80%;
		margin: 20px auto;
	}
	#our-team .team .person > div,
	#our-team .team .person:last-child > div {
		flex-direction: column;
	}

	.person .flex-column > .flex-column:first-child {
		flex: none;
		height: 300px;
	}

	#our-team .team .person > div {
		align-items: center;
	}

	#our-team .person .flex-column > .flex-column {
		flex: none;
		margin: 20px !important;
	}

	#testimonials-wrapper .flex-row .flex-row {
		flex-direction: column;
	}

	/*  */
	/* Events Page */
	/*  */
	#events-wrapper .flex-row .flex-row {
		flex-direction: column;
	}

	#testimonials-wrapper .flex-row .flex-row div {
		height: 200px;
	}

	#testimonials-wrapper i {
		position: absolute;
		top: -5%;
		left: 5%;
		font-size: 3rem;
		color: var(--color-emphasis);
	}

	/*  */
	/* Contact Page */
	/*  */
	#showcase-wrapper .form fieldset ul li,
	#contact-wrapper .form fieldset ul li {
		margin: 0 0.2%;
	}
}
