/* Variables */
:root {
    --color-light: #f0f7ee;
    --color-dark: #1a1a1a;
    --color-emphasis: #87bba2;
    --color-heading: #fff;
    --color-border: #bbb;
    --color-footer: #333;
    --shadow: 2px 2px 4px #000000;
    --font-heading: 'Anton', sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Main Styling + Utilities */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
}

html, body {
  font-family: 'Comic Neue', cursive, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 2rem;
}

.container {
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 10px 20px;
    position: relative;
}

.btn {
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bolder;
    letter-spacing: 2px;
    background-color: var(--color-light);
    box-shadow: var(--shadow);
    border-radius: 10px;
    padding: 5px 10px;
    border: none;
    text-decoration: none;
    color: var(--color-dark);
}

.btn:hover {
    background-color: var(--color-emphasis);
    color: var(--color-light);
}

.heading-1 {
    text-align: center;
    font-size: 3rem;
    margin: 2% 0;
    font-family: var(--font-heading);
    letter-spacing: 2px;
    line-height: 1em;
}

.heading-2 {
    text-align: center;
    font-size: 2.5rem;
    margin: 5% 0;
    font-family: var(--font-heading);
    letter-spacing: 2px;
}

.heading-3 {
    width: 50%;
    margin: 10px auto;
    font-size: 1.75rem;
    font-family: var(--font-heading);
    text-align: center;
    letter-spacing: 2px;
}

.p-2 {
    font-size: 1.5rem;
    text-align: center;
    height: 25%;
}

.box {
    display: inline-block;
    width: 30%;
    height: 75%;
    padding: 20px;
    margin: 1.5%;
    background-color: var(--color-heading);
    box-shadow: var(--shadow);
    border: 1px solid var(--color-border);
    border-radius: 10px;
}

.photo {
    display: block;
    width: 100%;
    height: 50%;
    object-fit: cover;
    padding: 10px;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    box-shadow: var(--shadow);
    background-color: var(--color-light);
}

.bg-white {
    background-color: var(--color-heading);
    color: var(--color-dark);
}

.bg-light {
    background-color: var(--color-light);
    color: var(--color-dark);
}

/*  */
/* HEADER */
/*  */
header .container {
    padding: 0;
    position: relative;
}

#head-wrapper {
    background-color: var(--color-dark);
    padding-top: 5px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 25px;
}

#contact-info-head {
    display: inline-block;
}

#head-wrapper i {
    display: inline-block;
    font-size: 1.5rem;
    color: var(--color-light);
}

#contact-info-head span {
    font-size: 1.25rem;
    padding: 0 5px;
    font-weight: bolder;
    color: var(--color-emphasis);
}

#social-media-head {
    float: right;
}

#social-media-head ul {
    list-style: none;
    float: right;
}

#social-media-head ul li {
    float: left;
    padding: 0px 5px;
}

#nav-wrapper {
    height: 50px;
    position: absolute;
    top: 25px;
    width: 100%;
    z-index: 1000;
}

#nav-wrapper input,
#nav-wrapper label {
    display: none;
}

.main-logo {
    display: inline-block;
    width: 50%;
    height: 100%;
    padding: 10px 0;
}

.logo {
    text-decoration: none;
    color: var(--color-dark);
    font-size: 2.75rem;
    font-weight: bold;
    font-family: var(--font-heading);
}

.main-logo span i {
    display: inline-block;
    font-size: 3rem;
    padding: 0 5px;
    color: var(--color-dark);
}

nav {
    border-bottom: 2px solid var(--color-footer);
}

.main-nav {
    float: right;
    width: 50%;
    height: 100%;
}

.main-nav ul {
    float: right;
    list-style: none;
}

.main-nav ul li {
    float: left;
}

.main-nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color-dark);
    font-size: 1.5rem;
    font-weight: bolder;
    line-height: 50px;
    padding: 0 10px;
}

.main-nav ul li a.current,
.main-nav ul li a:hover {
    background-color: var(--color-emphasis);
}

/*  */
/* FOOTER */
/*  */
#footer-wrapper {
    background-color: var(--color-footer);
}

#footer-wrapper .container {
    height: 225px;
}

#footer-wrapper .container div {
    display: inline-block;
}

#footer-wrapper .container div.footer-dropdown {
    width: 75%;
    text-align: center;
    color: var(--color-light);
}

.heading-footer {
    text-transform: uppercase;
    font-size: 1.75rem;
    padding: 10px;
    color: var(--color-light);
}

#footer-wrapper .container div.footer-dropdown .location {
    display: block;
    width: 50%;
    margin: 0 auto;
}

#footer-wrapper .container div.footer-dropdown .location a {
    display: inline-block;
    width: 30%;
    margin: 0 2.4%;
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--color-light);
    border: 1px solid var(--color-border);
    border-radius: 10px;
}

#footer-wrapper .container div.footer-dropdown .location a:active {
    background-color: var(--color-light);
    color: var(--color-dark);
}

#footer-wrapper .container div#info-wrapper-calgary,
#footer-wrapper .container div#info-wrapper-toronto {
    display: block;
    position: relative;
    margin-top: 10px;
    display: none;
}

#footer-wrapper .container div.contact {
    width: 50%;
    display: block;
}

#footer-wrapper .container div.hours {
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
}

#footer-wrapper .container div.contact div {
    display: block;
}

#footer-wrapper .container div.contact div div {
    width: 75%;
    margin: 0 auto;
    text-align: left;
}

#footer-wrapper .container div i {
    font-size: 2.25rem;
    padding: 5px;
    border-radius: 5px;
}

#footer-wrapper .container div span,
#footer-wrapper .container div p {
    font-size: 1.5rem;
    padding: 5px;
}

.footer-dropdown div:target {
    display: block !important;
}

#footer-follow-us {
    width: 25%;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 20px;
}

#footer-follow-us ul {
    list-style: none;
}

#footer-follow-us ul li {
    margin: 10px 0;
}

#footer-follow-us ul li i {
    color: var(--color-light);
    font-size: 2rem;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--color-border);
}

.copyright {
    background-color: var(--color-dark);
    color: var(--color-light);
    text-align: center;
}

.copyright p {
    font-size: 2rem;
    padding: 10px 0;
}


/*  */
/* INDEX */
/*  */

/*  */
/* SHOWCASE */
/*  */
#showcase-wrapper {
    width: 100%;
    height: 100%;
    background: url(../img/board-games-background-large.jpg) no-repeat center center/cover;
}

#showcase-wrapper .container {
    height: 100%;
    position: relative;
}

#showcase-wrapper .container .main-heading-2 {
    color: var(--color-heading);
    font-size: 3rem;
    font-weight: bolder;
    letter-spacing: 2px;
    text-shadow: var(--shadow);
    display: block;
    width: 100%;
    text-align: center;
    line-height: 1em;
    font-family: var(--font-heading);
    margin-top: 20vh;
}

#showcase-wrapper .container .main-heading-1 {
    color: var(--color-heading);
    font-size: 4rem;
    font-weight: bolder;
    letter-spacing: 2px;
    text-shadow: var(--shadow);
    display: block;
    width: 100%;
    text-align: center;
    line-height: 1.5em;
    font-family: var(--font-heading);
    margin-top: 5%;
}

.form {
    position: sticky;
    top: 30%;
    display: block;
    padding: 2%;
    width: 90%;
    margin: auto;
}

.form fieldset {
    background-color: rgba(240, 247, 238, 1);
    border: 1px solid var(--color-border);
    box-shadow: var(--shadow);
    padding: 0 5px 5px;
    border-radius: 10px;
}

.form legend {
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 1em;
    color: var(--color-dark);
    padding: 3px 5px;
    letter-spacing: 2px;
    background-color: var(--color-emphasis);
    border: 1px solid var(--color-dark);
    border-radius: 5px;
    box-shadow: var(--shadow);
}

.form .select label {
    font-weight: bolder;
    text-transform: uppercase;
    display: inline-block;
    padding: 5px 10px;
    font-size: 1.5rem;
    margin-top: 5px;
}

.form .select {
    width: 33.3%;
    margin: auto;
    text-align: center;
}

.form select,
.form select option {
    width: 100%;
    font-size: 1.25rem;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid var(--color-border);
}

.form fieldset ul {
    list-style: none;
}

.form fieldset ul li {
    display: inline-block;
    width: 49%;
    margin: 0 0.2%;
}

.form fieldset ul li label {
    font-weight: bolder;
    display: block;
    font-size: 1.4rem;
    text-align: center;
    padding-top: 5px;
    text-transform: uppercase;
}

.form fieldset ul li input {
    text-align: center;
    width: 100%;
    font-size: 1.4rem;
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--color-border);
}

.form fieldset ul li input:focus,
.form select:focus {
    background-color: var(--color-light);
    border: 1px solid var(--color-emphasis);
}

.form fieldset ul li:nth-child(7) {
    display: block;
    width: 100%;
    margin: 10px auto;
    padding: 0 10px;
}

/*  */
/* FEATURES SECTION */
/*  */
#body-wrapper .box {
    display: block;
    width: 90%;
    height: 45vh;
    margin: 5% auto;
}

#body-wrapper .box .photo {
    float: left;
    width: 60%;
    height: 100%;
}

#body-wrapper .box div {
    display: inline-block;
    width: 40%;
    height: 100%;
}

#body-wrapper .box .p-2 {
    padding: 2rem;
    height: auto;
}

#body-wrapper .box:after {
    content: "";
    display: block;
    clear: both;
}

#body-wrapper .box .btn {
    width: 50%;
    text-align: center;
    margin: 5% auto;
}

/*  */
/* HOW IT WORKS SECTION */
/*  */
#how-it-works-wrapper {
    height: 70vh;
}

#how-it-works-wrapper .container {
    height: 100%;
    padding-bottom: 2%;
}

.tabs {
    margin-top: 1%;
    height: 75%;
    position: relative;
}

.tabs > div {
    float: left;
    width: 30%;
    height: 100%;
    margin: 1% 1.666% 0;
    text-align: center;
    padding: 20px;
    box-shadow: var(--shadow);
    border-radius: 10px;
}

.tabs label {
    font-size: 1.4rem;
    cursor: pointer;
}

.tabs input {
    margin: 0;
    opacity: 0;
    width: 0;
}

.tabs div.content {
    margin-top: 10%;
    max-height: 0;
    overflow: hidden;
}

.tabs div.content i {
    font-size: 4rem;
    margin: 4% 0;
}

.tabs div.content p {
    font-size: 1.4rem;
    padding: 0 10px;
}

.tabs input:checked + label[for="check-in"],
.tabs input:checked + label[for="pick"],
.tabs input:checked + label[for="pay"] {
    font-size: 1.7rem;
    color: var(--color-dark);
    font-family: var(--font-heading);
    letter-spacing: 1px;
}

input:checked ~ .content{
    min-height: 75%;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    box-shadow: var(--shadow);
    transition: all 0.5s ease-in
}

/*  */
/* ROOM SECTION */
/*  */
#rooms-wrapper {
    height: 800px;
}

#rooms-wrapper ul{
    list-style-type: none;
}

#rooms-wrapper ul li {
    position: relative;
    width: 29.33%;
    height: 30%;
    margin: 3% 2% 4%;
    float: left;
}

#rooms-wrapper li div{
    width: 100%;
    padding-top: 125px;
    height: 100%;
    text-align: center;
    color: var(--color-dark);
    font-size: 2.25rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 0;
    cursor: pointer;
    box-shadow: var(--shadow);
    border-radius: 10px;
    font-family: var(--font-heading);
    background-color: var(--color-heading);
}

#rooms-wrapper li div.back {
    padding: 10px;
    width: 100%;
    height: 100%;
}

#rooms-wrapper li div img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*// ANIMATION STYLES //*/
#rooms-wrapper div.back {
  transform: rotateX(90deg);
}

#rooms-wrapper div.front {
  position: absolute;
}

#rooms-wrapper li:hover div.front {
  animation: flip 0.2s ease-in forwards;
}

#rooms-wrapper li:hover div.back {
  animation: flip 0.2s 0.2s ease-out forwards reverse;
}

@keyframes flip {
  0%{ transform: rotateX(0deg); }
  100%{ transform: rotateX(90deg); }
}

#rooms-wrapper div a {
    clear: both;
    display: block;
    width: 33.33%;
    text-align: center;
    margin: auto;
}

/*  */
/* POPUP SECTION */
/*  */
#popup-wrapper {
    height: 700px;
}

#popup-wrapper a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: var(--color-dark);
    margin: 1.25% 1%;
    width: 47.5%;
}

#popup-wrapper a:nth-child(3),
#popup-wrapper a:nth-child(6) {
    display: none;
}

#popup-wrapper .photo{
    height: 45%;
}

.popup-content {
    width: 75vw;
    height: 75vh;
    margin: 100px auto;
    position: relative;
}

.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    display: none;
    z-index: 100000000;
}

.popup .photo {
    height: 100%;
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 50%;
    background: var(--color-dark);
    border: 3px solid var(--color-light);
    color: var(--color-heading);
    text-decoration: none;
    line-height: 0;
    padding: 9px 0 11px;
    width: 20px;
    text-align: center;
}

.popup:target{
    display: block;
}

@media screen and (min-width: 900px) {
    #popup-wrapper a {
        width: 31%;
    }

    #popup-wrapper a:nth-child(3),
    #popup-wrapper a:nth-child(6) {
        display: inline-block;
    }
}

/*  */
/* BOOK NOW SECTION */
/*  */
#book-now-wrapper {
    height: 200px;
    background: url(../img/board-games-background-large.jpg) no-repeat center center/cover;
}

.transparent-wrapper {
    height: 100%;
    background-color: rgba(240, 247, 238, 0.7);
}

.transparent-wrapper .container p {
    height: auto;
    padding: 20px 0;
}

.transparent-wrapper .container div {
    width: 50%;
    margin: 0 auto;
}

.transparent-wrapper .container a {
    display: inline-block;
    width: 45%;
    margin: 2%;
    text-align: center;
}


/*  */
/* MEDIA QUERIES */
/*  */
@media screen and (max-height: 600px) and (max-width: 1050px) {

    * {
        font-size: 8px;
    }

    /*  */
    /* SHOWCASE SECTION */
    /*  */
    #showcase-wrapper {
        height: 140vh;
    }

    #showcase-wrapper .container .main-heading-2 {
        margin-top: 25vh;
        font-size: 2.5rem;
    }

    #showcase-wrapper .container .main-heading-1 {
        margin-top: 2.5%;
        font-size: 3.5rem;
    }

    #showcase-wrapper .form {
        width: 90%;
        margin-top: 1.5%;
    }

    /*  */
    /* FEATURE SECTION */
    /*  */
    #body-wrapper .box {
        height: 60vh;
    }

    /*  */
    /* HOW IT WORKS SECTION */
    /*  */
    #how-it-works-wrapper {
        height: 90vh;
    }

    /*  */
    /* POPUP SECTION */
    /*  */
    .popup:target{
        display: none;
    }

    #popup-wrapper a {
        cursor: auto;
    }

}

@media screen and (max-width: 900px) {
    
    /*  */
    /* NAVBAR */
    /*  */
    #nav-wrapper {
        height: auto;
    }

    #nav-wrapper nav {
        border-bottom: 2px solid var(--color-footer);
        position: relative;
    }

    .logo,
    .main-logo span i,
    #nav-wrapper label i {
        font-size: 3rem;
    }

    .main-nav {
        float: none;
        display: block;
        width: 100%;
    }

    .main-nav ul {
        float: none;
        display: block;
        width: 100%;
    }

    .main-nav ul li {
        float: left;
        width: 100%;
        text-align: center;
        border-top: 2px solid var(--color-footer);
    }

    .main-nav ul li a {
        width: 100%;
    }

    .main-nav ul li a.current,
    .main-nav ul li a:hover {
        background-color: var(--color-emphasis);
    }

    /* #nav-wrapper input, */
    #nav-wrapper label {
        display: block;
    }

    #nav-wrapper label {
        position: absolute;
        top: 0;
        right: 0px;
        cursor: pointer;
        padding: 10px;
    }

    #nav-wrapper label.open {
        display: none;
    }

    .menu-content{
        max-height: 0;
        overflow: hidden;
    }

    #nav-wrapper input:checked ~ .menu-content{
        clear: both;
        max-height: 1000px;
        transition: all 0.5s ease-in
    }

    #nav-wrapper input:checked ~ label.open{
        display: block;
        font-size: 5rem;
    }

    #nav-wrapper input:checked ~ label.closed{
        display: none;
    }

    /*  */
    /* SHOWCASE SECTION */
    /*  */
    #showcase-wrapper .container .main-heading-2 {
        font-size: 3rem;
    }

    #showcase-wrapper .container .main-heading-1 {
        font-size: 4rem;
    }

    .form {
        width: 90%;
    }

    /*  */
    /* FEATURE SECTION */
    /*  */
    #body-wrapper .heading-2 {
        font-size: 2rem;
    }

    #body-wrapper .box .photo {
        width: 50%;
    }

    #body-wrapper .box div {
        width: 50%;
        padding-left: 1%;
    }

    /*  */
    /* HOW IT WORKS SECTION */
    /*  */
    #how-it-works-wrapper {
       height: 140vh;
    }

    .tabs {
        margin-top: 1%;
        height: 25%;
        position: relative;
    }

    .tabs > div {
        float: none;
        display: block;
        width: 95%;
        height: 100%;
        margin: 5% auto;
        text-align: center;
        padding: 20px;
        box-shadow: var(--shadow);
        border-radius: 10px;
    }

    .tabs div.content {
        margin-top: 2%;
    }

    .tabs div.content i {
        margin: 1%;
    }

    .tabs div.content p {
        padding: 1rem;
    }

    /*  */
    /* ROOM SECTION */
    /*  */
    #rooms-wrapper ul li:nth-child(3),
    #rooms-wrapper ul li:nth-child(6) {
        display: none;
    }

    #rooms-wrapper ul li {
        width: 46%;
    }

    #rooms-wrapper div a {
        width: 66.66%;
    }

    /*  */
    /* POPUP SECTION */
    /*  */
    .popup:target{
        display: none;
    }

    #popup-wrapper a {
        cursor: auto;
    }

}

@media screen and (max-height: 550px) and (max-width: 900px) {

    * {
        font-size: 8px;
    }

    /*  */
    /* SHOWCASE SECTION */
    /*  */
    #showcase-wrapper {
        height: 110vh;
    }

}

@media screen and (max-height: 500px) and (max-width: 900px) {

    * {
        font-size: 8px;
    }

    /*  */
    /* SHOWCASE SECTION */
    /*  */
    #showcase-wrapper {
        height: 140vh;
    }

    /*  */
    /* HOW IT WORKS SECTION */
    /*  */
    #how-it-works-wrapper {
        height: 200vh;
    }

}